<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cuenta.css' %}">
    <title>Medicina</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="navbar-fixed">
  <nav class="navegacion">
    <div class="container">
        <a href="#" class="brand-logo">Medicina</a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>

    <ul class="right hide-on-med-and-down">    
    <li><a href="/">Inicio</a></li>
    <li><a href="/productos/">Productos</a></li>
    <li><a href="Ayuda.html">SEX</a></li>
    <li><a href="/cuenta/">Mi sexo</a></li>
    </ul>
  </div>
  </nav>
</div>

<ul class="sidenav" id="menu-responsive">
    <li><a href="/">Inicio</a></li>
    <li><a href="/productos/">Productos</a></li>
    <li><a href="Ayuda.html">Ayuda</a></li>
    <li><a href="/cuenta/">Mi cuenta</a></li>

</ul>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
    <i class="large material-icons">apps</i>
</a>



<ul>
    <li>
        <a href="" class="btn-floating blue"><i class="material-icons">local_grocery_store</i></a></li>
        <a href="" class="btn-floating blue"><i class="material-icons">local_post_office</i></a></li>
        <a href="" class="btn-floating blue"><i class="material-icons">location_on</i></a></li>
</ul>
</div>


<div class="Secion">
    <form action="" class="formulario">
        <h2 class="titulo">REGISTRAR</h2>
        <div class="padre">
            <div class="nombre">
                <label for="">Nombre completo</label>
                <input type="text" class="validate" required>

            </div>
            <div class="email">
                <label for="">Ingrese su correo</label>
                <input type="email" class="validate" required>

            </div>
            <div class="Contraseña">
                <label for="">Ingrese su contraseña</label>
                <input type="password" class="validate" required>

            </div>
            <div class="usuario">
                <p>Ya tienes cuenta? <a href="/registrado/">¡Entra aqui!</a></p>
                <input type="submit" value="Iniciar">

            </div>

        </div>

    </form>

</div>
























    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
</script>