<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'productos.css' %}">
    <link rel="stylesheet" href="../css/producto2.css">
    <title>Medicina</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="navegacion">
            <div class="container">
                <a href="#" class="brand-logo">Medicina</a>
                <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos/">Productos</a></li>
                    <li><a href="Ayuda.html">Ayuda</a></li>
                    <li><a href="/cuenta/">Mi cuenta</a></li>
                </ul>
            </div>
        </nav>
    </div>




    <ul class="sidenav" id="menu-responsive">
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos/">Productos</a></li>
        <li><a href="Ayuda.html">Ayuda</a></li>
        <li><a href="/cuenta/">Mi cuenta</a></li>

    </ul>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">apps</i>
        </a>





        <ul>
            <li>
                <a href="" class="btn-floating blue"><i class="material-icons">local_grocery_store</i></a>
            </li>
            <a href="" class="btn-floating blue"><i class="material-icons">local_post_office</i></a></li>
            <a href="" class="btn-floating blue"><i class="material-icons">location_on</i></a></li>
        </ul>
    </div>


    <div class="container section">Todo lo que tenemos a la venta

        <div class="row">
            <div class="col s4">
                <div class="card">

                    <div class="card-image">
                        <img src="{%static 'images6.png'%}" alt="">
                    </div>


                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem nostrum
                            inventore repudiandae rem dolor autem, praesentium nihil quisquam sed quia natus fuga ab, ex
                            veniam labore ipsum asperiores quo.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">comprar</a>
                    </div>



                </div>

            </div>

            <div class="col s4">
                <div class="card">

                    <div class="card-image">
                        <img src="{%static 'images4.png'%}" alt="">
                    </div>


                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem nostrum
                            inventore repudiandae rem dolor autem, praesentium nihil quisquam sed quia natus fuga ab, ex
                            veniam labore ipsum asperiores quo.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">comprar</a>
                    </div>



                </div>

            </div>



            <div class="col s4">
                <div class="card">

                    <div class="card-image">
                        <img src="{%static 'images8.png'%}" alt="">
                    </div>


                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem nostrum
                            inventore repudiandae rem dolor autem, praesentium nihil quisquam sed quia natus fuga ab, ex
                            veniam labore ipsum asperiores quo.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">comprar</a>
                    </div>



                </div>

            </div>



            <div class="col s4">
                <div class="card">

                    <div class="card-image">
                        <img src="{%static 'images9.png'%}" alt="">
                    </div>


                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem nostrum
                            inventore repudiandae rem dolor autem, praesentium nihil quisquam sed quia natus fuga ab, ex
                            veniam labore ipsum asperiores quo.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">comprar</a>
                    </div>



                </div>

            </div>




            <div class="col s4">
                <div class="card">

                    <div class="card-image">
                        <img src="{%static 'images10.png'%}" alt="">
                    </div>


                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem nostrum
                            inventore repudiandae rem dolor autem, praesentium nihil quisquam sed quia natus fuga ab, ex
                            veniam labore ipsum asperiores quo.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">comprar</a>
                    </div>



                </div>

            </div>




            <div class="col s4">
                <div class="card">

                    <div class="card-image">
                        <img src="{%static 'images1.png'%}" alt="">
                    </div>


                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem nostrum
                            inventore repudiandae rem dolor autem, praesentium nihil quisquam sed quia natus fuga ab, ex
                            veniam labore ipsum asperiores quo.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">comprar</a>
                    </div>



                </div>

            </div>
















        </div>















    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems);
        });
    </script>